# Global
.DS_Store
*.pem
.env*
!.env.example

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Backend
backend/venv/
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/models/*
!backend/models/.gitkeep

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
